
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormParm</title>
</head>
<body>
    <div> 
        编号：@ViewBag.id
        名字：@ViewBag.name
        地址：@ViewBag.address
    </div>
</body>
</html>
