
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ParmTest</title>
</head>
<body>
    <div> 
        <h1>地址栏中的参数</h1>@*同控制器中，不用加写控制器名称*@
         接收数据值：@Request.QueryString["id"]
    </div>
</body>
</html>
