
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RouteTest</title>
</head>
<body>
    <div> 
        <h1>路由规则中的参数</h1>@*路由规则中的参数{controller}/{action}/{id}默认参数id=可选的*@
        接收数据：@ViewData["id"]
    </div>
</body>
</html>
