
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Js/jquery-1.8.0.js"></script>
    <script src="~/Js/jquery.validate.js"></script>
</head>
<body>
    <div> 

    </div>
</body>
</html>
