
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        接收ViewData数据：@ViewData["data"]
        接收ViewBag数据：@ViewBag.bag
        <br/>
        ViewData接收ViewBag：@ViewData["bag"]
        ViewBag接收ViewData：@ViewBag.data
    </div>
</body>
</html>
